   <%# TOP画面の看板一覧 %>
<div class="category-btm">
 <%= link_to(histories_path) { image_tag("history.png", alt: "History") } %>
 <%= link_to(deities_path) { image_tag("japan_god.png", alt: "Deity") } %>
</div>