<h1>設定</h1>

<div class="toggle-switch">
  <% if current_user && current_user.input_method == 'romaji' %>
    <input type="checkbox" id="toggle-romaji" checked>
  <% else %>
    <input type="checkbox" id="toggle-romaji">
  <% end %>
  <label for="toggle-romaji">ローマ字</label>
  <% if current_user && current_user.input_method == 'kana' %>
    <input type="checkbox" id="toggle-kana" checked>
  <% else %>
    <input type="checkbox" id="toggle-kana">
  <% end %>
  <label for="toggle-kana">かな入力</label>
</div>