html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Remove default margin. */
body {
  margin: 0;
}

/* ==========================================================================
 * Links
 * ========================================================================== */
/*
 * Remove the gray background color from active links in IE 10. */
a {
  background: transparent;
}

/*
 * Address `outline` inconsistency between Chrome and other browsers. */
a:focus {
  outline: thin dotted;
}

/*
 * Improve readability when focused and also mouse hovered in all browsers. */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
 * Typography
 * ========================================================================== */
/*
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome. */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/*
 * Address styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b,
strong {
  font-weight: bold;
}

/*
 * Address styling not present in Safari 5 and Chrome. */
dfn {
  font-style: italic;
}

/*
 * Address differences between Firefox and other browsers. */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/*
 * Address styling not present in IE 8/9. */
mark {
  background: yellow;
  color: black;
}

/*
 * Correct font family set oddly in Safari 5 and Chrome. */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improve readability of pre-formatted text in all browsers. */
pre {
  white-space: pre-wrap;
}

/*
 * Set consistent quote types. */
q {
  quotes: "“""”""‘""’";
}

/*
 * Address inconsistent and variable font size in all browsers. */
small {
  font-size: 80%;
}

/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
 * Embedded content
 * ========================================================================== */
/*
 * Remove border when inside `a` element in IE 8/9. */
img {
  border: 0;
}

/*
 * Correct overflow displayed oddly in IE 9. */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
 * Figures
 * ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari 5. */
figure {
  margin: 0;
}

/* ==========================================================================
 * Forms
 * ========================================================================== */
/*
 * Define consistent border, margin, and padding. */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet. */
button,
input {
  line-height: normal;
}

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera. */
button,
select {
  text-transform: none;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others. */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements. */
button[disabled],
html input[disabled] {
  cursor: default;
}

/*
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers. */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
 * Tables
 * ========================================================================== */
/*
 * Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
 * CSS SETTING
 * by Hiroaki WAKATSUKI
 * Converted 2014/2/16
 * ========================================================================== */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

i {
  font-style: normal;
}

.animate {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.button {
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.05) 1%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 1%, rgba(0, 0, 0, 0.2) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1%, rgba(0, 0, 0, 0.2) 100%);
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  *zoom: 1;
}

.row .grid-1,
.row .grid-2,
.row .grid-3,
.row .grid-4,
.row .grid-5,
.row .grid-6,
.row .grid-7,
.row .grid-8,
.row .grid-9,
.row .grid-10,
.row .grid-11,
.row .grid-12 {
  float: left;
  margin-left: 0.9%;
  margin-right: 0.9%;
}

.row .grid-1 {
  width: 6.53333%;
}

.row .grid-2 {
  width: 14.86667%;
}

.row .grid-3 {
  width: 23.2%;
}

.row .grid-4 {
  width: 31.53333%;
}

.row .grid-5 {
  width: 39.86667%;
}

.row .grid-6 {
  width: 48.2%;
}

.row .grid-7 {
  width: 56.53333%;
}

.row .grid-8 {
  width: 64.86667%;
}

.row .grid-9 {
  width: 73.2%;
}

.row .grid-10 {
  width: 81.53333%;
}

.row .grid-11 {
  width: 89.86667%;
}

.row .grid-12 {
  width: 98.2%;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row.collapse>.column,
.row.collapse>.columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}

.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}

.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}

.row .row:before,
.row .row:after {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}

.row .row.collapse:before,
.row .row.collapse:after {
  content: " ";
  display: table;
}

.row .row.collapse:after {
  clear: both;
}

@media only screen and (max-width: 40em) {

  .row {
    width: 100%;
    padding: 0 20px !important;
  }

  .row .grid-1,
  .row .grid-2,
  .row .grid-3,
  .row .grid-4,
  .row .grid-5,
  .row .grid-6,
  .row .grid-7,
  .row .grid-8,
  .row .grid-9,
  .row .grid-10,
  .row .grid-11,
  .row .grid-12 {
    float: none;
    width: 100% !important;
    margin: 0 !important;
    position: static !important;
  }
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .row .grid-1,
  .row .grid-2,
  .row .grid-3,
  .row .grid-4 {
    width: 48.2% !important;
  }
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* ↓背景画像 */
body,
html {
  height: 100%;
  background-image: url("backimage.jpg");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
  position: relative;
}

.overlay-image {
  position: absolute; /* 重ねる画像を絶対位置に設定 */
  top: 50%; /* 上端を中央に配置（必要に応じて調整）*/
  left: 50%; /* 左端を中央に配置（必要に応じて調整）*/
  transform: translate(-50%, -50%); /* 画像を中央に配置 */
  z-index: 1; /* 重なり順序を指定（必要に応じて調整）*/
}


body {
  padding-top: 60px;
  
}

/* ==========================================================================
     看板
 * ========================================================================== */
 .category-btm {
  display: flex;
  flex-wrap: wrap;
}

.history-category {
}

.deity-category {
}

.settings-category {
  flex: 0 0 100%;
}


h1,
h2,
h3,
h4,
h5,
h6,
body {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #57C3E9;
}

.bold {
  font-weight: bold;
}

.serif,
div.contents.row div.content_post p {
  font-family: 'ほのか明朝', serif;
}

.ultra {
  font-size: 2em !important;
}

::selection {
  background: #D8D8D8;
}

.transition,
a,
form input[type="submit"] {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* ヘッダー部分 */
.btn,
header.header div.header__bar.row div.grid-6 a.post {
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: #57C3E9;
  font-weight: bold;
  text-align:center;
  border-radius: 3px;
  display: inline-block;
}

.btn:hover,
header.header div.header__bar.row div.grid-6 a.post:hover {
  border-color: #9bdbf2;
  color: #9bf2bf;
}

.title {
  font-weight: bold;
}

.title--big {
  font-size: 1.5em;
  font-weight: bold;
}

.title--big i {
  font-style: italic;
  font-size: 1.8em;
}


header.header {
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
}


header.header div.header__bar.row {
  position: relative;
}

header.header div.header__bar.row h1.grid-6 {
  font-size: 30px;
  line-height: 41px;
  float: left;
  
}

header.header div.header__bar.row h1.grid-6 a {
  display: block;
  color: #14804a;
}

header.header div.header__bar.row div.grid-6 {
  float: right;
  text-align: right;
}

header.header div.header__bar.row div.grid-6 a.post {
  width: 140px;
  display: inline-left;
  margin-left: 10px;
}

header.header .user_nav {
  position: relative;
  height: 100px;
  right: 0;
}

header.header .user_nav span {
  top: 5px;
  display: block;
  float: left;
  margin-left: 30px;
  width: 150px;
  height: 50px;
  font-size: 1em;
  cursor: pointer;
  position: relative;
}

header.header .user_nav span:after {
  content: '▼';
  font-size: .7em;
  margin-left: -4px;
}

header.header .user_nav span:hover ul {
  color: #57C3E9;
  display: block;
}

header.header .user_nav ul {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

header.header .user_nav ul li {
  background-color: #f0f0f0;
}

header.header .user_nav ul li a {
  display: block;
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
}

.form {
  background: url(https://dl.dropboxusercontent.com/u/5840617/DeathtoStock_Wired3.jpg);
  background-size: cover;
}

.form .contents {
  position: absolute;
  left: 0;
  top: 30%;
  bottom: 0;
  right: 0;
}

.form footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

div.contents.row h2 {
  margin: 20px 0;
  padding: 0;
  font-weight: normal;
}

div.contents.row h2 strong {
  font-weight: bold;
  padding-right: 5px;
  font-size: 1.2em;
}

div.contents.row .new_user {
  font-family: "游ゴシック", "YuGothic";
}

div.contents.row div.content_post {
  margin: 20px 0;
  padding: 30px;
  position: relative;
  height: 400px;
  color: #fff;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
}

div.contents.row div.content_post:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FFA60000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjYyJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC44NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(62%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.85)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.85) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.85) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0.85) 100%);
  z-index: 1;
  border-radius: 3px;
}

div.contents.row div.content_post .more {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 30px;
  z-index: 2;
  height: 100px;
  width: 80px;
  text-align: right;
}

div.contents.row div.content_post .more:hover ul.more_list {
  display: block;
}

div.contents.row div.content_post .more ul.more_list {
  position: absolute;
  text-align: left;
  width: 80px;
  right: 0;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

div.contents.row div.content_post .more ul.more_list li {
  border-bottom: 1px solid #ddd;
}

div.contents.row div.content_post .more ul.more_list li:last-child {
  border-bottom: 0;
}

div.contents.row div.content_post .more ul.more_list li a {
  display: block;
  padding: 5px;
}

div.contents.row div.content_post .more ul.more_list li a:hover {
  background-color: #57C3E9;
  color: #fff;
}

div.contents.row div.content_post p {
  position: absolute;
  left: 30px;
  right: 100px;
  bottom: 30px;
  margin: 0;
  font-size: 20px;
  z-index: 2;
  font-weight: bold;
  text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
}

div.contents.row div.content_post span.name {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 2;
  font-size: 13px;
}

div.contents.row div.content_post span.name a {
  display: block;
  color: #aaa;
}

div.contents.row div.content_post span.name a:hover {
  text-decoration: underline;
  color: #aaa;
}

div.contents.row div.content_post span.name span {
  font-size: 9px;
  display: block;
}

div.contents.row .success {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

div.contents.row .success h3 {
  margin: 10px auto;
}

form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #59c500;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #84efa4;
}

.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #a59898;
}

footer p {
  text-align: center;
}


.error-message{
  margin: 20px 0; 
}
/* ==========================================================================
     ゲーム画面
 * ========================================================================== */
#game-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: .8;
  z-index: 9999;
}

#game-screen {
  display: none;
  position: absolute;
  width: 748px;
  background: #fff;
  padding: 0 10px 10px;
  z-index: 10000;
}

#game-screen,
#game-screen * {
  font-family: Meiryo, Arial, sans-serif;
  box-sizing: border-box;
}

#game-screen ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#game-header {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #cacaca;
  margin: 0 0 5px;
}

#game-header .description {
  height: 40px;
  font-size: 18px;
  color: #7b7a7a;
  line-height: 40px;
  margin: 0 0 0 5px;
}

#game-banner {
  width: 728px;
  height: 90px;
  margin: 0 auto 5px;
}

#game-banner a {
  display: block;
  width: 100%;
  height: 100%;
}

#game-body {
  display: table;
  width: 728px;
  height: 470px;
  color: #636363;
  background: #fff;
  margin-left: 30%;
  margin-top: 30px; 
}

#game-view1 {
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;
}

#game-title {
  font-size: 24px;
}

#game-explain {
  font-size: 15px;
  padding: 0 24px;
  margin: 12px 0 74px;
}

#start-button {
  width: 160px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: #057fff;
  border: 0;
  border-radius: 3px;
  margin: 0 auto;
  cursor: pointer;
  appearance: none;
}

#game-func {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 28px;
  line-height: 26px;
  background-color: #f3f3f3;
  padding: 0 12px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  white-space: nowrap;
}

#game-func>span {
  display: inline-block;
  font-size: 11px;
}

#game-func .switch-btn {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 16px;
  vertical-align: middle;
  margin-right: 6px;
  overflow: hidden;
}

#game-func .switch-btn:last-child {
  margin-right: 0;
}

#game-func .switch-btn .btn {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 36px;
  height: 16px;
  line-height: 15px;
  letter-spacing: 0.5px;
  font-size: 11px;
  color: #fff;
  text-align: center;
  border: 0;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  appearance: none;
}

#game-func .switch-btn .on-btn {
  background-color: #2a89ff;
}

#game-func .switch-btn .off-btn {
  background-color: #ff4032;
}

.show {
  display: block !important;
}

#game-view2 {
  display: none;
  background-color: #fff;
}

#text-container {
  position: relative;
  max-width: 610px;
  height: 172px;
  border: 1px solid #d8d8d8;
  margin: 0 auto 10px;
  overflow: hidden;
}

#miss-type-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.2);
  opacity: 0;
}

#miss-type-screen.missed {
  animation: miss .2s;
}

#start-msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 170%;
  padding-top: 46px;
}

#start-msg p {
  padding: 0;
  margin: 0 0 4px;
}

#start-msg em {
  font-size: 24px;
  font-style: normal;
  color: #ff9c00;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ff9c00;
  font-size: 80px;
  transform: translateX(-50%) translateY(-50%);
}

#example {
  position: absolute;
  left: 15px;
  top: 36px;
  width: 580px;
  height: 36px;
  font-size: 30px;
  line-height: 36px;
  overflow: hidden;
  font-variant-ligatures: no-common-ligatures;
}

#example>div {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  white-space: nowrap;
}

#kana {
  position: absolute;
  left: 15px;
  top: 73px;
  width: 580px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
  font-variant-ligatures: no-common-ligatures;
}

#kana>div {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  white-space: nowrap;
}

#sentence {
  position: absolute;
  left: 15px;
  top: 102px;
  width: 580px;
  height: 30px;
  font-size: 26px;
  line-height: 26px;
  overflow: hidden;
  text-transform: uppercase;
  font-variant-ligatures: no-common-ligatures;
}

#sentence>div {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  white-space: nowrap;
}

#sentence .typed {
  color: #ffd0a6;
}

#progress-bar {
  position: absolute;
  bottom: 1px;
  left: 5px;
  width: calc(100% - 10px);
  height: 4px;
  background-color: #bcbcbc;
  transform-origin: left top;
}

#current-wpm {
  display: none;
  position: absolute;
  top: 5px;
  right: 10px;
}

#speed-bar {
  display: none;
  position: absolute;
  top: 2px;
  left: 5px;
  width: calc(100% - 10px);
  height: 3px;
  background: linear-gradient(90deg, #87cefa, #ff6347);
  transform-origin: left top;
}

.cover {
  top: 0;
  right: 0;
  height: 3px;
  background: #fff;
  transform-origin: right top;
}

#virtual-keyboard {
  position: relative;
  width: 610px;
  margin: 0 auto;
}

#virtual-keyboard div {
  position: absolute;
  width: 36px;
  height: 36px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
  overflow: hidden;
}

#virtual-keyboard div.key_1 {
  top: 0;
  left: 41px;
}

#virtual-keyboard div.key_2 {
  top: 0;
  left: 82px;
}

#virtual-keyboard div.key_3 {
  top: 0;
  left: 123px;
}

#virtual-keyboard div.key_4 {
  top: 0;
  left: 164px;
}

#virtual-keyboard div.key_5 {
  top: 0;
  left: 205px;
}

#virtual-keyboard div.key_6 {
  top: 0;
  left: 246px;
}

#virtual-keyboard div.key_7 {
  top: 0;
  left: 287px;
}

#virtual-keyboard div.key_8 {
  top: 0;
  left: 328px;
}

#virtual-keyboard div.key_9 {
  top: 0;
  left: 369px;
}

#virtual-keyboard div.key_0 {
  top: 0;
  left: 410px;
}

#virtual-keyboard div.key_hyphen {
  top: 0;
  left: 451px;
}

#virtual-keyboard div.deco_key2 {
  top: 0;
  left: 492px;
}

#virtual-keyboard div.deco_key3 {
  top: 0;
  left: 533px;
}

#virtual-keyboard div.deco_key4 {
  top: 0;
  left: 574px;
}

#virtual-keyboard div.deco_key5 {
  top: 41px;
  width: 56px;
}

#virtual-keyboard div.key_q {
  top: 41px;
  left: 61px;
}

#virtual-keyboard div.key_w {
  top: 41px;
  left: 102px;
}

#virtual-keyboard div.key_e {
  top: 41px;
  left: 143px;
}

#virtual-keyboard div.key_r {
  top: 41px;
  left: 184px;
}

#virtual-keyboard div.key_t {
  top: 41px;
  left: 225px;
}

#virtual-keyboard div.key_y {
  top: 41px;
  left: 266px;
}

#virtual-keyboard div.key_u {
  top: 41px;
  left: 307px;
}

#virtual-keyboard div.key_i {
  top: 41px;
  left: 348px;
}

#virtual-keyboard div.key_o {
  top: 41px;
  left: 389px;
}

#virtual-keyboard div.key_p {
  top: 41px;
  left: 430px;
}

#virtual-keyboard div.key_atmark {
  top: 41px;
  left: 471px;
}

#virtual-keyboard div.deco_key6 {
  top: 41px;
  left: 512px;
}

#virtual-keyboard div.key_Enter {
  top: 41px;
  left: 553px;
  width: 57px;
  height: 77px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 21px 100%, 21px 36px, 0 36px);
}

#virtual-keyboard div.key_Enter:after {
  position: absolute;
  display: block;
  content: "";
  top: 34px;
  left: 0;
  width: 20px;
  height: 41px;
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}

#virtual-keyboard div.deco_key7 {
  top: 82px;
  width: 76px;
}

#virtual-keyboard div.key_a {
  top: 82px;
  left: 81px;
}

#virtual-keyboard div.key_s {
  top: 82px;
  left: 122px;
}

#virtual-keyboard div.key_d {
  top: 82px;
  left: 163px;
}

#virtual-keyboard div.key_f {
  top: 82px;
  left: 204px;
}

#virtual-keyboard div.key_g {
  top: 82px;
  left: 245px;
}

#virtual-keyboard div.key_h {
  top: 82px;
  left: 286px;
}

#virtual-keyboard div.key_j {
  top: 82px;
  left: 327px;
}

#virtual-keyboard div.key_k {
  top: 82px;
  left: 368px;
}

#virtual-keyboard div.key_l {
  top: 82px;
  left: 409px;
}

#virtual-keyboard div.key_semicolon {
  top: 82px;
  left: 450px;
}

#virtual-keyboard div.key_colon {
  top: 82px;
  left: 491px;
}

#virtual-keyboard div.deco_key8 {
  top: 82px;
  left: 532px;
}

#virtual-keyboard div.key_lShift {
  top: 123px;
  left: 0;
  width: 96px;
}

#virtual-keyboard div.key_z {
  top: 123px;
  left: 101px;
}

#virtual-keyboard div.key_x {
  top: 123px;
  left: 142px;
}

#virtual-keyboard div.key_c {
  top: 123px;
  left: 183px;
}

#virtual-keyboard div.key_v {
  top: 123px;
  left: 224px;
}

#virtual-keyboard div.key_b {
  top: 123px;
  left: 265px;
}

#virtual-keyboard div.key_n {
  top: 123px;
  left: 306px;
}

#virtual-keyboard div.key_m {
  top: 123px;
  left: 347px;
}

#virtual-keyboard div.key_comma {
  top: 123px;
  left: 388px;
}

#virtual-keyboard div.key_period {
  top: 123px;
  left: 429px;
}

#virtual-keyboard div.key_slash {
  top: 123px;
  left: 470px;
}

#virtual-keyboard div.deco_key9 {
  top: 123px;
  left: 511px;
}

#virtual-keyboard div.key_rShift {
  top: 123px;
  left: 552px;
  width: 58px;
}

#virtual-keyboard div.deco_key10 {
  top: 164px;
  left: 0;
  width: 56px;
}

#virtual-keyboard div.deco_key11 {
  top: 164px;
  left: 61px;
}

#virtual-keyboard div.deco_key12 {
  top: 164px;
  left: 102px;
}

#virtual-keyboard div.deco_key13 {
  top: 164px;
  left: 143px;
}

#virtual-keyboard div.key_space {
  top: 164px;
  left: 184px;
  width: 181px;
}

#virtual-keyboard div.deco_key14 {
  top: 164px;
  left: 370px;
}

#virtual-keyboard div.deco_key15 {
  top: 164px;
  left: 411px;
}

#virtual-keyboard div.deco_key16 {
  top: 164px;
  left: 452px;
  width: 56px;
}

#virtual-keyboard div.deco_key17 {
  top: 164px;
  left: 513px;
}

#virtual-keyboard div.deco_key18 {
  top: 164px;
  left: 554px;
  width: 56px;
}

#virtual-keyboard div.active {
  background-color: #ff9c00 !important;
  border-color: #ff9c00 !important;
  color: #fff !important;
}

#game-result {
  display: none;
  width: 728px;
}

#current-result {
  position: relative;
  float: left;
  width: 590px;
  height: 337px;
  border: 1px solid #d0d0d0;
  margin: 0 0 12px;
}

#game-result .result-title {
  height: 37px;
  font-size: 15px;
  font-weight: bold;
  line-height: 37px;
  overflow: hidden;
  margin: 0;
  padding: 0 0 0 10px;
}

#current-result .result-title {
  color: #027fff;
  border-bottom: 1px solid #d0d0d0;
}

#example-list {
  position: absolute;
  top: 49px;
  left: 12px;
  width: 376px;
  height: 274px;
  padding: 10px;
  overflow: auto;
  border: 1px solid #d0d0d0;
}

#example-list ul {
  width: 354px;
}

#example-list ul li {
  font-size: 16px;
  margin-bottom: 12px;
  overflow-wrap: break-word;
}

#example-list .sentence {
  text-transform: uppercase;
}

#example-list .miss {
  color: #f00;
}

#game-result .result-data {
  position: absolute;
  width: 188px;
  height: 298px;
  top: 37px;
  right: 0;
  padding: 12px 11px 0 11px;
  background: #f7f7f7;
}

#game-result .result-data ul li {
  position: relative;
  border-bottom: 1px solid #d0d0d0;
}

#game-result .result-data ul li .title {
  position: absolute;
  font-size: 11px;
  height: 32px;
  line-height: 32px;
  top: 0;
  left: 0;
}

#game-result .result-data ul li .data {
  color: #027fff;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  width: 166px;
  text-align: right;
  font-weight: bold;
  padding-right: 6px;
}

#game-result .result-data ul li:last-child .data {
  text-transform: uppercase;
}

#prev-result {
  position: relative;
  width: 138px;
  height: 337px;
  float: right;
  border-top: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

#prev-result .result-title {
  border-bottom: 1px solid #d0d0d0;
}

#prev-result .result-data {
  width: 137px;
}

#prev-result .result-data ul li .data {
  width: 115px;
}

#result-comment {
  position: relative;
  width: 728px;
  height: 53px;
  text-align: center;
  border: 1px solid #d0d0d0;
  margin: 12px 0 0;
  clear: both;
}

#result-comment .container {
  position: absolute;
  width: 726px;
  font-size: 14px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 0 18px;
}

#btn-area {
  position: relative;
  margin: 18px 0 0;
}

#game-result .btn {
  position: absolute;
  display: block;
  width: 129px;
  height: 39px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 39px;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  appearance: none;
}

#replay-button {
  top: 0;
  right: 289px;
  background-color: #027fff;
}

#close-button2 {
  top: 0;
  right: 0;
  color: #7b7a7a !important;
  background-color: #f4f5f5;
}

#miss-only-button {
  top: 0;
  left: 164px;
  background-color: #23c21f;
}

@keyframes miss {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}