/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* ↓背景画像 */
body,
html {
  height: 100%;
  background-image: url("/assets/backimage.jpg");
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  background-position: center center; 
  margin: 0; 
  padding: 0; 
  position: relative; /* 親要素を相対位置に設定 */

}

.overlay-image {
  position: absolute; /* 重ねる画像を絶対位置に設定 */
  top: 50%; /* 上端を中央に配置（必要に応じて調整）*/
  left: 50%; /* 左端を中央に配置（必要に応じて調整）*/
  transform: translate(-50%, -50%); /* 画像を中央に配置 */
  z-index: 1; /* 重なり順序を指定（必要に応じて調整）*/
}


body {
  padding-top: 60px;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #57C3E9;
}

.bold {
  font-weight: bold;
}

/* ヘッダー部分 */
.btn,
header.header div.header__bar.row div.grid-6 a.post {
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: #57C3E9;
  font-weight: bold;
  text-align:center;
  border-radius: 3px;
  display: inline-block;
}

.btn:hover,
header.header div.header__bar.row div.grid-6 a.post:hover {
  border-color: #9bdbf2;
  color: #9bdbf2;
}

.title {
  font-weight: bold;
}

.title--big {
  font-size: 1.5em;
  font-weight: bold;
}

.title--big i {
  font-style: italic;
  font-size: 1.8em;
}

header.header {
  padding: 10px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 62px;
}

header.header div.header__bar.row {
  position: relative;
}

header.header div.header__bar.row h1.grid-6 {
  font-size: 30px;
  line-height: 41px;
  float: left;
}

header.header div.header__bar.row h1.grid-6 a {
  display: block;
  color: #14804a;
}

header.header div.header__bar.row div.grid-6 {
  float: right;
  text-align: right;
}


header.header div.header__bar.row div.grid-6 a.post {
  width: 140px;
  display: inline-left;
  margin-left: 10px;
}


header.header .user_nav {
  position: relative;
  height: 100px;
  right: 0;
}

header.header .user_nav span {
  top: 5px;
  display: block;
  float: left;
  margin-left: 30px;
  width: 150px;
  height: 50px;
  font-size: 1em;
  cursor: pointer;
  position: relative;
}

header.header .user_nav span:after {
  content: '▼';
  font-size: .7em;
  margin-left: -4px;
}

header.header .user_nav span:hover ul {
  color: #57C3E9;
  display: block;
}

header.header .user_nav ul {
  display: none;
  position: absolute;
  top: 46px;
  right: 0;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

header.header .user_nav ul li {
  background-color: #f0f0f0;
}

header.header .user_nav ul li a {
  display: block;
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #d8d8d8;
}


/* ==========================================================================
     看板
 * ========================================================================== */
 .category-btm {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.history-category {
  width: 300px;
  height: 300px;
}

.deity-category {
  width: 300px;
  height: 300px;
}

.settings-category {
  width: 300px;
  height: 300px;
}


div.contents.row h2 {
  margin: 20px 0;
  padding: 0;
  font-weight: normal;
}

div.contents.row h2 strong {
  font-weight: bold;
  padding-right: 5px;
  font-size: 1.2em;
}

div.contents.row .new_user {
  font-family: "游ゴシック", "YuGothic";
}





div.contents.row .success {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

div.contents.row .success h3 {
  margin: 10px auto;
}

form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
}

.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #fafafa;
  }

footer p {
  text-align: center;
}

.error-message{
  margin: 20px 0; 
}


/* ==========================================================================
     設定
 * ========================================================================== */

